.button {
    width: auto;
}

.li {
    cursor: pointer;
    list-style: none;
}

.elementContainer {
    display: flex;
    align-items: center;
    gap: 10%;
    width: 30%;
    justify-content: space-between;
}

.closeBtn {
    width: 15px;
    padding: 0;
}

.choosenItemContainer {
    display: flex;
    flex-direction: row;
    flex-wrap: wrap;
    gap: 5%;
    position: absolute;
    z-index: 0;
    padding: 10px;
    top: 72px;
    width: 100%;
    justify-content: flex-start;
}

.addBtn {
    width: 20px;
}
.listItemContainer {
    padding: 10px;
}
