.container {
}

.label {
}

.input {
}

.svg {
}
.button {
    width: auto;
}

.listItemContainer {
    border: 1px solid rgb(79 70 229);
    border-radius: 5px;
    padding: 5px;
    position: relative;
    z-index: 1;
    background-color: rgb(249 250 251);
}

.li {
    cursor: pointer;
}

.elementContainer {
    display: flex;
    align-items: center;
    gap: 10%;
    width: 30%;
    justify-content: space-between;
}

.closeBtn {
    width: 15px;
    padding: 0;
}

.mainContainer {
    padding: 10px;
    position: relative;
}
.choosenItemContainer {
    display: flex;
    flex-direction: row;
    flex-wrap: wrap;
    gap: 5%;
    position: absolute;
    z-index: 0;
    padding: 10px;
    top: 72px;
    width: 100%;
    justify-content: flex-start;
}

.addBtn {
    width: 20px;
}
