.container {
    width: 30%;
    display: flex;
    justify-content: center;
    padding: 30px;
    align-self: center;
    margin-top: 5%;
}

.formContainer {
    display: flex;
    flex-direction: column;
    gap: 10px;
}
