.container {
}

.titleContainer {
    display: flex;
    align-items: center;
    justify-content: space-between;
}

.mainTitle {
    display: flex;
    align-items: center;
    width: 30%;
    justify-content: space-around;
    color: #6c85bd;
}

.nav {
    text-decoration: none;
    cursor: pointer;
}

.title {
    color: #5b61a1;
}

.nav {
    display: flex;
    width: 30%;
    justify-content: space-around;
}
.active {
    color: red;
    font-size: x-large;
}
.inactive {
    color: green;
}
